################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FRStackFunctions/bin
/FRStackFunctions/obj
/FRStackFunctions/.vs
/FRStackFunctions/*.user
